<section class="form-auth">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <link href="devise.css" rel="stylesheet">
    <body class="text-center">

    <main class="form-signin w-100 m-auto">
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
      <div class="field">
        <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", class: "form-control"%>
        <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name", class: "form-control"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password", class: "form-control" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "form-control" %>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
    <div class="actions">
      <button class="w-100 btn btn-lg btn-primary" type="submit"><%= "Sign up" %></button>
    </div>
      <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
  <% end %>
    </main>

    </body>
  <%= render "devise/shared/links" %>
</section>


#modal
<div class="modal fade" tabindex="-1" role="dialog" id="modalsignup">
  <div class="modal-dialog" role="document">
    <div cla s="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
        <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body p-5 pt-0">
        <form class="">
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
          <hr class="my-4">
          <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
          <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"></use></svg>
            Sign up with Twitter
          </button>
          <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"></use></svg>
            Sign up with Facebook
          </button>
          <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"></use></svg>
            Sign up with GitHub
          </button>
        </form>
      </div>
    </div>
  </div>
</div>






<!--<h2>Sign up</h2>-->

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= f.label :password %>
    <%# if @minimum_password_length %>
<!--      <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--    <%# end %><br />-->
    <%#= f.password_field :password, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br />-->
    <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Sign up" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>
